{
  "trailingComma": "all",
  "semi": false,
  "singleQuote": false,
  "importOrder": ["^@/(.*)$", "^[./]"],
  "importOrderSortSpecifiers": true,
  "plugins": ["@trivago/prettier-plugin-sort-imports"]
}
